<div>
<h1>Welcome to GSMS by Galen</h1>


<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= form_tag('/sms', :method => 'post') do %>
      Send a text message, straight from your browser!<br>
      Enter who you'd like to text, and your message!<br>
      <p>Recipient <br>
      <%= text_field_tag('smsTo') %><br>
      Message<br>
      <%= text_field_tag('note') %><br>
      <br><%= submit_tag("Have at it!") %>
      </p>
    <% end %>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.text %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


